@font-face {
    font-family: 'HelveticaNeueCyr-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: local('HelveticaNeueCyr-Bold'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
    font-display: swap;
}