html,
body {
    height: 100vh;
    // z-index: 1;
}

body {
    @extend %int-700;
    font-size: 26px;
    line-height: 24px;
    color: #fff ;
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1760px;
    padding: 0 10px;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
}