@media (max-width: 890px) {
    .header {
        .nav {
            &__list {
                gap: 20px;
            }

            &__link,
            &__btn {
                font-size: 16px;
            }
        }

        &__title {
            font-size: 32px;
            max-width: fit-content;
            border-radius: 12px;
        }

        &__text {
            font-size: 20px;
            border-radius: 12px;
        }
    }

    .social-menu {
        bottom: 15%;
    }

    .social-menu img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 580px) {
    .header {
        .nav {
            &__list {
                gap: 24px;
            }

            &__link,
            &__btn {
                font-size: 12px;
            }
        }

        &__top {
            flex-direction: column;
            gap: 16px;
        }

        &__content {
            padding: 40px 0 160px;

        }

        &__title {
            font-size: 24px;
            margin-bottom: 120px;
            text-align: center;
        }

        &__text {
            font-size: 16px;
            text-align: center;
        }
    }
}