

%int-400 {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}
%int-700 {
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 700;
}
%int-500 {
    font-family: 'Inter-Medium', sans-serif;
    font-weight: 500;
}
%int-300 {
    font-family: 'Inter-Light', sans-serif;
    font-weight: 300;
}
%pop-500 {
    font-family: 'Poppins-Medium', sans-serif;
    font-weight: 500;
}
%ibm-400 {
    font-family: 'IBMPlexSans', sans-serif;
    font-weight: 400;
}
%ibm-300 {
    font-family: 'IBMPlexSans-Light', sans-serif;
    font-weight: 300;
}
%ibm-700 {
    font-family: 'IBMPlexSans-Bold', sans-serif;
    font-weight: 700;
}