%cir-700 {
    font-family: 'CircularStd-Bold', sans-serif;
    font-weight: 700;
}

%cir-450 {
    font-family: 'CircularStd-Book', sans-serif;
    font-weight: 450;
}

%int-400 {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
}