@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
    padding: 37px 0 9px;

    .nav {
        display: flex;
        align-items: center;

        &__logo {
            margin-right: 190px;
            font-size: 36px;
            line-height: normal;
            color: #FFF;
        }

        &__list {
            display: flex;
            gap: 70px;
            margin-right: 496px;
        }

        &__link {
            @extend %ibm-400;
            font-size: 20px;
            line-height: 24px;
            color: #FFF;
        }

        &__contact_us {
            @extend %int-400;
            color: #FFF;
            font-size: 24px;
            line-height: 26px;
            padding: 12px 14px;
            border-radius: 24px;
            border: 1px solid #FFF;
            text-transform: uppercase;
        }
    }
}

.main {
    &__content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 126px 0 160px;
    }

    &__left {
        max-width: 735px;
    }

    &__title {
        @extend %ibm-400;
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 60px;
    }

    &__text {
        @extend %int-400;
        font-size: 18px;
        line-height: 28px;
        color: #A1A1AA;
    }
}

.description {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    &__item {
        border-bottom: 3px solid #fff;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__link {
        @extend %ibm-300;
        font-size: 60px;
        line-height: 82.5px;
        color: #fff;
    }

    &__subitem {
        display: none;
    }

    &__subitem-wrap {
        display: flex;
        align-items: center;
        gap: 180px;
        margin-bottom: 100px;
    }

    &__subitem-text {
        width: 861px;
        @extend %int-400;
        font-size: 32px;
        line-height: 28px;
        color: #A1A1AA;
    }

    .minus {
        display: none;
    }

    .subitem--active {
        display: block;
        transition: all .8s;
    }
}

.link-icon--active {
    .minus {
        display: block;
    }

    .plus {
        display: none;
    }
}

.blog {
    padding: 70px 0 28px;

    &__title {
        text-align: center;
        @extend %int-500;
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 90px;
    }

    &__items {
        display: flex;
        gap: 20px;
    }

    &__img {
        border-radius: 10px;
        margin-bottom: 18px;
    }

    &__item-title {
        margin-bottom: 18px;
        @extend %int-700;
        font-size: 26px;
        line-height: 24px;
    }

    &__item-text {
        @extend %pop-500;
        font-size: 16px;
        line-height: 21px;
    }
}

.case {
    padding: 100px 0 28px;

    &__title {
        text-align: center;
        @extend %int-500;
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 120px;
    }

    &__items {
        display: flex;
        gap: 20px;
    }

    &__img {
        border-radius: 10px;
        margin-bottom: 18px;
    }

    &__item-title {
        margin-bottom: 18px;
        @extend %int-700;
        font-size: 26px;
        line-height: 24px;
    }

    &__item-text {
        @extend %pop-500;
        font-size: 16px;
        line-height: 21px;
    }
}

.footer {
    padding: 24px 0;
    background: #D2C1C1;

    &__wrapper {
        display: flex;
        gap: 256px;
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        @extend %int-700;
        color: #000;
        font-size: 36px;
        line-height: normal;
        margin-bottom: 66px;
    }

    &__tel {
        @extend %int-500;
        color: #000;
        font-size: 64px;
        line-height: 24px;
        margin-bottom: 38px;
    }

    &__contacts {
        display: flex;
        gap: 35px;
    }

    &__contacts-item,
    &__contacts-link {
        @extend %int-400;
        color: #000;
        font-size: 24px;
        line-height: 24px;
    }

    &__right-title {
        @extend %int-700;
        color: #000;
        font-size: 36px;
        line-height: normal;
        margin-bottom: 8px;
    }
&__right{
 margin-top: 32px;
}
    &__right-link {
        @extend %int-300;
        font-size: 32px;
        line-height: 45.5px;
        color: #000;
    }
}




@import 'media';