@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
    padding: 37px 0 9px;

    .nav {
        display: flex;
        align-items: center;

        &__logo {
            margin-right: 190px;
            font-size: 36px;
            line-height: normal;
            color: #FFF;
        }

        &__list {
            display: flex;
            gap: 70px;
            margin-right: 496px;
        }

        &__link {
            @extend %ibm-400;
            font-size: 20px;
            line-height: 24px;
            color: #FFF;
        }

        &__contact_us {
            @extend %int-400;
            color: #FFF;
            font-size: 24px;
            line-height: 26px;
            padding: 12px 14px;
            border-radius: 24px;
            border: 1px solid #FFF;
            text-transform: uppercase;
        }
    }
}

.main {
    &__content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 126px 0 160px;
    }

    &__left {
        max-width: 735px;
    }

    &__title {
        @extend %ibm-400;
        font-size: 80px;
        line-height: 90px;
        margin-bottom: 60px;
    }

    &__text {
        @extend %int-400;
        font-size: 18px;
        line-height: 28px;
        color: #A1A1AA;
    }
}

.description {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    &__item {
        border-bottom: 3px solid #fff;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__link {
        @extend %ibm-300;
        font-size: 60px;
        line-height: 82.5px;
        color: #fff;
    }

    &__subitem {
        display: none;
    }

    &__subitem-wrap {
        display: flex;
        align-items: center;
        gap: 180px;
        margin-bottom: 100px;
    }

    &__subitem-text {
        width: 861px;
        @extend %int-400;
        font-size: 32px;
        line-height: 28px;
        color: #A1A1AA;
    }

    .minus {
        display: none;
    }

    .subitem--active {
        display: block;
        transition: all .8s;
    }

    
}
.link-icon--active {
        .minus {
            display: block;
        }

        .plus {
            display: none;
        }
    }

 



@import 'media';